$primarycolor: #242635;

header {
  display: flex;
  justify-content: space-between;
  max-width: 864px;
  width: 100%;
  margin: 2rem auto;

  .logo {
    color: $primarycolor;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: $primarycolor;
      }
    }
  }
}
